
  @import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&family=Poppins:wght@400;500;600;700&display=swap');

  * {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {

    font-family: Barlow Semi condensed;
    font-weight: 500,600;
    font-size: 13px;
    line-height: 1.6;
    background-color: #edf2f8;

  }

  img {

    max-width: 100%;
    height: auto;
    display: block;
  }

  .container {
max-width: 1300px;
margin: 100px auto;
padding: 20px;
background-color: hsl(210, 46%, 95%);
display: grid;
grid-template-columns: repeat(4,1fr);
gap: 30px;
/* outline: 1px solid red; */

  }

  .card {

    background-color: #fff;
    margin-top: 10px;
    border-bottom: 5px;
    padding: 30px;
    border-radius: 10px;

  }

  .header{

    display: flex;
    

  }

  .header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid  hsl(263, 55%, 52%);
  }

  .header > div {

    margin-left: 10px;
    color:  hsl(1, 0%, 81%);
    
  }


  .header p {
    opacity: 50%;
  }

  .text-lead {

    font-size: 1.5rem;
  }


  .card-purple {
    background-image: url('./images/bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-position: top 10px right 100px;
background-color: hsl(263, 55%, 52%);
color: #fff;

  }

  .card-grayish-blue{
    background-color: hsl(217, 19%, 35%);
    color: #fff;
  }

  .card-white {

    background-color: hsl(0, 0%, 100%);
  }

  .card-darkish-blue {

    background-color: hsl(219, 29%, 14%);
    color: #fff;
  }


  .text-dark {

    color: #333;
  }

.text-quote {

    color:  hsl(1, 0%, 81%) ;
    opacity: 70%;
}


.text-light {

    color: #000;
    opacity: 50%;
}



  .card:nth-of-type(1)
  {

    grid-column: 1/3;
  }

  
  .card:nth-of-type(4)
  {

    grid-column: 2/4;
    grid-row: 2/3;
  }

  
  .card:nth-of-type(5)
  {

    grid-column: 4/5;
    grid-row: 1/3;
  }

  @media(max-width:756px) {

.container {

grid-template-columns: 1fr;


}



.card:nth-of-type(1)
{

  grid-column: 1/2;
}


.card:nth-of-type(4)
{

  grid-column: 1/2;
  grid-row: 4/5;
}


.card:nth-of-type(5)
{

  grid-column: 1/2;
  grid-row: 5/6;
}



  }

  